[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "base16-shell"]
	path = base16-shell
	url = git://github.com/chriskempson/base16-shell.git
