[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/yggdroot/start/indentLine"]
	path = vim/pack/yggdroot/start/indentLine
	url = git://github.com/yggdroot/indentLine.git
[submodule "vim/pack/airblade/start/vim-gitgutter"]
	path = vim/pack/airblade/start/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/ctrlpvim/start/ctrlp.vim"]
	path = vim/pack/ctrlpvim/start/ctrlp.vim
	url = git://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/easymotion/start/vim-easymotion"]
	path = vim/pack/easymotion/start/vim-easymotion
	url = git://github.com/easymotion/vim-easymotion.git
[submodule "vim/pack/editorconfig/start/editorconfig-vim"]
	path = vim/pack/editorconfig/start/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/idanarye/start/vim-merginal"]
	path = vim/pack/idanarye/start/vim-merginal
	url = git://github.com/idanarye/vim-merginal.git
[submodule "vim/pack/int3/start/vim-extradite"]
	path = vim/pack/int3/start/vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vim/pack/junegunn/start/vim-slash"]
	path = vim/pack/junegunn/start/vim-slash
	url = git://github.com/junegunn/vim-slash.git
[submodule "vim/pack/justinmk/start/vim-sneak"]
	path = vim/pack/justinmk/start/vim-sneak
	url = git://github.com/justinmk/vim-sneak.git
[submodule "vim/pack/lambdalisue/start/gina.vim"]
	path = vim/pack/lambdalisue/start/gina.vim
	url = git://github.com/lambdalisue/gina.vim.git
[submodule "vim/pack/mhinz/start/vim-startify"]
	path = vim/pack/mhinz/start/vim-startify
	url = git://github.com/mhinz/vim-startify.git
[submodule "vim/pack/svermeulen/start/vim-cutlass"]
	path = vim/pack/svermeulen/start/vim-cutlass
	url = git://github.com/svermeulen/vim-cutlass.git
[submodule "vim/pack/svermeulen/start/vim-subversive"]
	path = vim/pack/svermeulen/start/vim-subversive
	url = git://github.com/svermeulen/vim-subversive.git
[submodule "vim/pack/svermeulen/start/vim-yoink"]
	path = vim/pack/svermeulen/start/vim-yoink
	url = git://github.com/svermeulen/vim-yoink.git
[submodule "vim/pack/tpope/start/vim-commentary"]
	path = vim/pack/tpope/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/pack/tpope/start/vim-dispatch"]
	path = vim/pack/tpope/start/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim/pack/tpope/start/vim-dotenv"]
	path = vim/pack/tpope/start/vim-dotenv
	url = git://github.com/tpope/vim-dotenv.git
[submodule "vim/pack/tpope/start/vim-eunuch"]
	path = vim/pack/tpope/start/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/pack/tpope/start/vim-fugitive"]
	path = vim/pack/tpope/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/tpope/start/vim-obsession"]
	path = vim/pack/tpope/start/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "vim/pack/tpope/start/vim-repeat"]
	path = vim/pack/tpope/start/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/pack/tpope/start/vim-rhubarb"]
	path = vim/pack/tpope/start/vim-rhubarb
	url = git://github.com/tpope/vim-rhubarb.git
[submodule "vim/pack/tpope/start/vim-sensible"]
	path = vim/pack/tpope/start/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/pack/tpope/start/vim-surround"]
	path = vim/pack/tpope/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/pack/tpope/start/vim-unimpaired"]
	path = vim/pack/tpope/start/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/pack/tpope/start/vim-vinegar"]
	path = vim/pack/tpope/start/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "vim/pack/vim-airline/start/vim-airline"]
	path = vim/pack/vim-airline/start/vim-airline
	url = git://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/vim-airline/start/vim-airline-themes"]
	path = vim/pack/vim-airline/start/vim-airline-themes
	url = git://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/tweekmonster/start/startuptime.vim"]
	path = vim/pack/tweekmonster/start/startuptime.vim
	url = git://github.com/tweekmonster/startuptime.vim.git
[submodule "vim/pack/tomasiser/start/vim-code-dark"]
	path = vim/pack/tomasiser/start/vim-code-dark
	url = git://github.com/tomasiser/vim-code-dark.git
[submodule "scripts/zsh-async"]
	path = scripts/zsh-async
	url = git://github.com/mafredri/zsh-async.git
