[submodule "dotbot"]
	path = dotbot
	url = git://github.com/anishathalye/dotbot.git
[submodule "scripts/npm-version"]
	path = scripts/npm-version
	url = git://github.com/jarrodldavis/npm-version-scripts.git
