<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.nut-server</string>

    <key>ProgramArguments</key>
    <array>
        <string>REPLACE_WITH_BREW_PREFIX/sbin/upsd</string>
        <string>-F</string>
    </array>

    <key>UserName</key>
    <string>REPLACE_WITH_UPSMON_USER</string>

    <key>GroupName</key>
    <string>REPLACE_WITH_UPSMON_GROUP</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>EnvironmentVariables</key>
    <dict>
        <key>NUT_QUIET_INIT_UPSNOTIFY</key>
        <string>true</string>
    </dict>

    <key>StandardOutPath</key>
    <string>REPLACE_WITH_BREW_PREFIX/var/log/nut-server.log</string>

    <key>StandardErrorPath</key>
    <string>REPLACE_WITH_BREW_PREFIX/var/log/nut-server.log</string>
</dict>
</plist>
