<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.nut-driver</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/sbin/upsdrvctl</string>
        <string>-F</string>
        <string>start</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>EnvironmentVariables</key>
    <dict>
        <key>NUT_QUIET_INIT_UPSNOTIFY</key>
        <string>true</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/opt/homebrew/var/log/nut-driver.log</string>

    <key>StandardErrorPath</key>
    <string>/opt/homebrew/var/log/nut-driver.log</string>
</dict>
</plist>
