<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>REPLACE_WITH_SERVICE_NAME</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>/bin/ln -sfv REPLACE_WITH_HOME/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock $SSH_AUTH_SOCK</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>REPLACE_WITH_HOME/Library/Logs/1Password/ssh-auth-sock.log</string>

    <key>StandardErrorPath</key>
    <string>REPLACE_WITH_HOME/Library/Logs/1Password/ssh-auth-sock.err</string>
</dict>
</plist>
